.App {
  text-align: center;
  color: #0E4D44;
}

.App-logo {
  height: 50px;
  padding-right: 30px;
}

.App-header {
  background-color: 	#FAFAFA;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: #0E4D44;
  font: Neue Helvetica;
}

.App-link {
  color: #09d3ac;
}
